<script>
  /*
  */
  window.onload = async function () {
    /*

    */
   try {
      var url = `http://localhost:5000/change-color`;
      var response = await fetch(url, {method: 'POST',headers: {'Content-Type': 'application/json'},body: JSON.stringify({ color: color })});
      result = await response.json()
      color = result.color;
      document.body.style.transition = "background-color 1s";
      document.body.style.backgroundColor = response.color;
    } catch {
      console.log(error);
    }


   /*

   */
   var url = 'http://localhost:5000/get-session-keys';
   var response = await fetch(url, {method: 'POST',headers: {'Content-Type': 'application/json'}});
   result = await response.json();
   console.log(result);


  }
  /*
  */
  async function emptyChat() {
    const dazzleDiv = document.querySelector('.dazzle');
    dazzleDiv.innerHTML = '';
  }
</script>

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src={{ url_for('static', filename='Summarization.js' )}}></script>
  <script type="text/javascript" src={{ url_for('static', filename='Simplification.js' )}}></script>
  <title>Teksten vereenvoudigen: prototype</title>
</head>

<body>

  <fieldset id="colors">
    <div><label>Naamwoorden</label><input type="color" id="colorForNouns" name="favcolor" value="#ff0000"></div>
    <div><label>Werkwoorden</label><input type="color" id="colorForVerbs" name="favcolor" value="#ff0000"></div>
    <div><label>Adjectieven</label><input type="color" id="colorForAdjs" name="favcolor" value="#ff0000"></div>
  </fieldset>


  {% for kw in keywords %}
  <span class="keyword">{{ kw }}</span>
  {% endfor %}

  <div class="container">
    <div class="text-container">
      {% for page in pdf %}
      <div class="page">
        <h1>{{page[1]}}</h1>
        {% for paragraph in page[0] %}
        <p class="left-side">
          {% for sentence in paragraph %}
          <span class="sentence">
            {% for word in sentence %}
            {% if sentence[word] != 'space' %}
            <span class={{sentence[word]}}>{{word}}</span>
            {% endif %}
            {% endfor %}
          </span>
          {% endfor %}
        </p>
        <p class="right-side"><!--JS FILLS HERE--></p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <!--'chatbot'-->
    <div class="fixed-bottom">
      <div class="buttons">
        <input class="btn" type="button" value="Schrijf dit eenvoudiger." onmousedown="syntacticSimplification()">
        <input class="btn" type="button" value="Schrijf dit eenvoudiger volgens ...."
          onmousedown="personalizedSimplification()">
        <input class="btn" type="button" value="Wat zijn de belangrijkste zinnen?"
          onmousedown="extractiveSummarization()">
        <input class="btn" type="button" value="Laat adjectieven vallen." onmousedown="removeAdjectives()">
        <input class="btn" type="button" value="Parafraseer dit" onmousedown="abstractiveSummarization()">
        <button id="deleteChat" class="btn" onmousedown="emptyChat()"><i class="fa fa-trash"></i></button>
      </div>

      <div class="buttons">
        <form>
          <input type="radio" name="handling" id="explainWords"> Woorden uitleggen
          <input type="radio" name="handling" id="simplifySentences"> Zinnen vereenvoudigen
          <input type="checkbox" id="verb-show">WW's tonen
          <input type="checkbox" id="noun-show">ZN's tonen
          <input type="checkbox" id="adj-show">Adjs tonen
        </form>
      </div>
    </div>

    <div class="dazzle"></div>
    <div class="personalisation">
      <input type="checkbox" id="checkbox1" name="tang constructions">
      <label for="checkbox1">Tangconstructies</label><br>
      <input type="checkbox" id="checkbox2" name="difficult-to-read words">
      <label for="checkbox2">Moeilijke woorden</label><br>
      <input type="checkbox" id="checkbox3" name="">
      <label for="checkbox3">Test</label><br>
      <input type="checkbox" id="checkbox4" name="pronouns">
      <label for="checkbox4">Voornaamwoorden</label><br>
      <input type="checkbox" id="checkbox5" name="preposition">
      <label for="checkbox5">Voorzetsels</label><br>
    </div>

  </div>
  </div>
</body>


<script>
  /*
  const toggleLookupButton = document.getElementById('explainWord');
  toggleLookupButton.addEventListener('click', () => {
    toggleLookupButton.classList.toggle('active');
  });
  

  const toggleExplainSentence = document.getElementById('explainSentence');
  toggleExplainSentence.addEventListener('click', () => {
    toggleExplainSentence.classList.toggle('active');
  });
  */

  function removeAdjectives() {
    const elements = document.querySelectorAll(".adj");
    elements.forEach(function (element) {
      element.remove();
    });
  }

  const nouns = document.getElementById('noun-show');
  const verbs = document.getElementById('verb-show');
  const adjs = document.getElementById('adj-show');
  nouns.addEventListener('change', function () {
    if (this.checked) {
      const color = document.getElementById('colorForNouns').value;
      const elements = document.querySelectorAll("span.noun");
      elements.forEach(function (element) {
        element.style.color = color;
      });
    } else {
      const elements = document.querySelectorAll("span.noun");
      elements.forEach(function (element) {
        element.style.color = "black";
      });
    }
  });

  verbs.addEventListener('change', function () {
    if (this.checked) {
      const color = document.getElementById('colorForVerbs').value;
      const elements = document.querySelectorAll("span.verb");
      elements.forEach(function (element) {
        element.style.color = color;
      });
    } else {
      const elements = document.querySelectorAll("span.verb");
      elements.forEach(function (element) {
        element.style.color = "black";
      });
    }
  });


  adjs.addEventListener('change', function () {
    if (this.checked) {
      const color = document.getElementById('colorForAdjs').value;
      const elements = document.querySelectorAll("span.adj");
      elements.forEach(function (element) {
        element.style.color = color;
      });
    } else {
      const elements = document.querySelectorAll("span.adj");
      elements.forEach(function (element) {
        element.style.color = "black";
      });
    }
  });
</script>

</html>