<html lang="en">

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <script type="text/javascript" src={{ url_for('static', filename='Onload.js' )}}></script>
  
  <title>Tekstvereenvoudiging</title>
</head>

<body>
  <fieldset id="colors">
    <div><label>Naamwoorden</label><input type="color" id="colorForNouns" name="favcolor" value="#ff0000"></div>
    <div><label>Werkwoorden</label><input type="color" id="colorForVerbs" name="favcolor" value="#ff0000"></div>
    <div><label>Adjectieven</label><input type="color" id="colorForAdjs" name="favcolor" value="#ff0000"></div>
  </fieldset>

  <div class="container">
    <div class="left-container">
      <div class="page">
        {% for paragraph in pdf %}
        <p>
          {% for sentence in paragraph %}
          <span class="sentence">
            {% for word in sentence %}
            {% if sentence[word] != 'space' %}
            <span class={{sentence[word]}}>{{word}}</span>
            {% endif %}
            {% endfor %}
          </span>
          {% endfor %}
        </p>
        {% endfor %}
      </div>
    </div>

    <!---->
    <div class="right-container">
      <form action="/generate-summary" method="post">
        <div class="extra-info">
          <p>Herkende talen:</p>
          <ul>{% for l in lang %}
            <li>{{ l }}</li>
            {% endfor %}
          </ul>
          <textarea name="titleOfPaper" id="titleOfPaper" cols="30" rows="10">{{title}}</textarea>
          <textarea name="subjectOfPaper" id="subjectOfPaper" cols="30" rows="10">{{subject}}</textarea>
        </div>

        <!--Statistieken voor de leerkracht-->
        <h2>Statistieken voor de leerkracht</h2>
        {% for s in statistics %}<span class="word">{{s}}</span>{% endfor %}

        <!--Tools voor de leerkracht-->
        <h2>Tools voor de leerkracht</h2>
        <fieldset>
          <div>
            <input type="checkbox" id="verb-show">WW's tonen
            <input type="checkbox" id="noun-show">ZN's tonen
            <input type="checkbox" id="adj-show">Adjs tonen
          </div>

          <div>
            <label for="checkboxTitle">Titels markeren</label><input name="actions" type="radio" id="checkboxTitle"><br>
            <label for="checkboxDeleteSents">Zin verwijderen</label><input type="radio" name="actions"
              id="checkboxDeleteSents"><br>
            <label for="checkboxAddWordToGlossary">Woord toevoegen aan woordenlijst</label><input name="actions"
              type="radio" id="checkboxAddWordToGlossary"><br>
          </div>

          <select name="titleFont" id="titleFont">
            <option value="Arial">Arial</option>
            <option value="Calibri">Calibri</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Montserrat">Montserrat</option>
            <option value="Verdana">Verdana</option>
          </select>

          <select name="regularFont" id="regularFont">
            <option value="Arial">Arial</option>
            <option value="Calibri">Calibri</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Montserrat">Montserrat</option>
            <option value="Verdana">Verdana</option>
          </select>
        </fieldset>

        <input type="checkbox" id="personalizedSummary" name="personalizedSummary" value="personalizedSummary"><label
          for="personalizedSummary">Samenvatting op maat</label>

        <!--Lexicale vereenvoudiging-->
        <fieldset class="personalized">
          <h2>Lexicale vereenvoudiging</h2>
          <input type="checkbox" id="keywords" name="keywords" value="keywords">
          <label for="keywords">Belangrijke kernwoorden automatisch herkennen</label><br>
          <input type="checkbox" id="vocabulary" name="vocabulary" value="vocabulary">
          <label for="vocabulary">Moeilijke woordenschat vervangen</label><br>
        </fieldset>


        <fieldset class="personalized">
          <h2>Syntactische vereenvoudiging</h2>
          <input type="checkbox" id="syntax" name="syntax" value="syntax">
          <label for="syntax">Tangconstructies aanpassen</label><br>

          <input type="number" id="length_sentence" name="length_sentence" min="5" max="15">
          <label for="length_sentence">Zinslengte</label><br>

          <input type="checkbox" id="pronouns" name="pronouns" value="pronouns">
          <label for="pronouns">Verwijswoorden aanpassen</label><br>

          <input type="checkbox" id="prepositions" name="prepositions" value="prepositions">
          <label for="prepositions">Voorzetseluitdrukkingen vervangen</label><br>

          <input type="checkbox" id="compound_verbs" name="compound_verbs" value="compound_verbs">
          <label for="compound_verbs">Samengestelde werkwoorden vervangen</label><br>
        </fieldset>


        <!--Samenvatten-->
        <fieldset class="personalized">
          <h2>Samenvatten</h2>
          <input type="checkbox" id="citation" name="citation" value="citation">
          <label for="citation">Bronvermelding</label><br>

          <input type="checkbox" id="paraphrasing" name="paraphrasing" value="paraphrasing">
          <label for="paraphrasing">Parafrasering / abstraherende samenvatting</label><br>

          <input type="checkbox" id="important_sentences" name="important_sentences" value="important_sentences">
          <label for="important_sentences">Automatische markering van de belangrijke zinnen</label><br>

          <input type="checkbox" id="extractive_summary" name="extractive_summary" value="extractive_summary">
          <label for="extractive_summary">Extraherende samenvatting</label><br>

          <input type="number" id="length_summary" name="length_summary" min="50" max="500">
          <label for="summary_length">Lengte van de samenvatting</label><br>

          <input type="checkbox" id="keyword_summary" name="keyword_summary" value="keyword_summary">
          <label for="keyword_summary">Samenvatten op basis van kernwoorden</label>

          <input type="number" id="number_paragraphs" name="number_paragraphs" min="1" max="5">
          <label for="number_paragraphs">Aantal paragrafen per titel</label>
        </fieldset>

        <fieldset class="personalized">
          <p class="session-keys-tag" id="session-keys-tag"></p>
        </fieldset>

        <!--Glossary-->
        <h2>Woordenlijst</h2>
        <fieldset hidden>
          <textarea name="glossaryList" id="glossaryList" cols="30" rows="10"></textarea>
          <button type="submit">Glossary-lijst genereren</button>
        </fieldset>
        <textarea hidden name="fullText" id="fullText" cols="30" rows="10"></textarea>
        <button disabled type="submit" value="Samenvatten" id="summarize-with-presets-button">Volledig document
          samenvatten</button>
      </form>
      <button value="Tekst toevoegen" onmousedown="addTextToTextArea()">Tekst indienen</button>
    </div>
  </div>
</body>

<script type="text/javascript" src={{ url_for('static', filename='TogglePosTags.js' )}}></script>
<script type="text/javascript" src={{ url_for('static', filename='TeacherScripts.js' )}}></script>
<script type="text/javascript" src={{ url_for('static', filename='Simplification.js' )}}></script>

</html>