<script>
  //
  async function emptyChat() {
    const dazzleDiv = document.querySelector('.dazzle');
    dazzleDiv.innerHTML = '';
  }
</script>

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src={{ url_for('static', filename='ExtSummarization.js')}}></script>
  <!--<script type="text/javascript" src={{ url_for('static', filename='LookUpWord.js')}}></script>-->
  <script type="text/javascript" src={{ url_for('static', filename='Summarization.js')}}></script>
  <script type="text/javascript" src={{ url_for('static', filename='SynSimplification.js')}}></script>
  <title>Teksten vereenvoudigen: prototype</title>
</head>

<body>
  {% for kw in keywords %}
  <span class="keyword">{{ kw }}</span>
  {% endfor %}

  <div class="container">
    <div class="text-container">
      {% for page in pdf %}
      <div class="page">
        <h1>{{page[1]}}</h1>
        {% for paragraph in page[0] %}
        <p>
          {% for sentence in paragraph %}
          <span class="sentence">
            {% for word in sentence %}
            <span class="word">{{word}}</span>
            {% endfor %}
          </span>
          {% endfor %}
        </p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <!--'chatbot'-->
    <div class="fixed-bottom">
      <div class="buttons">
        <input type="button" value="Schrijf dit eenvoudiger." onmousedown="syntacticSimplification()">
        <input type="button" value="Wat zijn de belangrijkste zinnen?" onmousedown="extractiveSummarization()">
        <input type="button" value="Parafraseer dit" onmousedown="abstractiveSummarization()">
        <button id="explainWord" class="btn"><i class="fa fa-book"></i></button>
        <button class="btn" onmousedown="emptyChat()"><i class="fa fa-trash"></i></button>
      </div>

      <!--append-div-->
      <div class="dazzle"></div>
    </div>
  </div>
</body>


<script>
  const toggleLookupButton = document.getElementById('explainWord');
  toggleLookupButton.addEventListener('click', () => {
    toggleLookupButton.classList.toggle('active');
  });

  toggleLookupButton.addEventListener("change", function () {
    console.log('change')
  });

</script>

</html>