<!--https://www.userzoom.com/ux-blog/five-ways-to-make-usable-websites-for-people-with-dyslexia/-->


<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title>Tekstvereenvoudiging: prototype</title>
</head>

<body>

  <div class="buttons">
    <input type="color" id="favcolor" name="favcolor" value="#ff0000" onmousedown="changeBackgroundColor(this.value)">
  </div>

  

  <h1>Prototype voor tekstvereenvoudiging</h1>

  <div class="container">
    <div class="container-index">
      <h2>Voor leerlingen</h2>
      <form action="/for-scholars" method="post" enctype="multipart/form-data">
        <label for="pdf">Voeg een PDF toe:</label>
        <input type="file" id="pdf" name="pdf"><br><br>
        <input type="submit" value="View PDF">
      </form>
    </div>

    <div class="container-index">
      <h2>Voor lectoren</h2>
      <form action="/for-teachers" method="post" enctype="multipart/form-data">
        <label for="pdf">Voeg een PDF toe:</label>
        <input type="file" id="pdf" name="pdf"><br><br>
        <input type="submit" value="View PDF">
      </form>
    </div>

    <div class="container-index">
      <h2>Instellingen</h2>
      <button onclick="setGPTAPIKey()">GPT API KEY</button>
      <button onclick="setHuggingFaceAPIKey()">HuggingFace API KEY</button>
      <button onclick="setRapidAPIKey()">RapidAPI Key</button>
    </div>

  </div>
</body>
<script>

const callPythonFunctionGetColor = async () => {
  try {
    var url = `http://localhost:5000/get-background-color`;
    console.log(url);
    const response = await fetch(url, {method: 'POST'});
    return (result = await response.json());
  } catch (error) {
    console.error(error);
  }
}


window.onload = async function(){
  var url = `http://localhost:5000/get-background-color`;
  const response = await callPythonFunctionGetColor();
  color = response;
  console.log(color);
  document.body.style.transition = "background-color 1s";
  document.body.style.backgroundColor = response.color;
}


//
const callPythonFunctionChangeColor = async (color) => {
  try {
    var url = `http://localhost:5000/change-color`;
    console.log(url);
    const response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ color: color })
    });

    console.log('change-', response)
    return (result = await response.json());
  } catch (error) {
    console.error(error);
  }
};

//
async function changeBackgroundColor(color) {
  var favcolor = document.getElementById('favcolor').value;
  console.log(favcolor);
  const response = await callPythonFunctionChangeColor(favcolor);
  document.body.style.backgroundColor = response.color;
}

//
const callPythonFunctionChangeKey = async (key) => {
  try{
    const response = await fetch(
      `http://localhost:5000/set-gpt-api-key?key=${key}`
    );
    console.log('change-', response);
    return (result = await response.json());
  } catch (error) {
    console.error(error);
  }
};

async function setGPTAPIKey(){
  var key = prompt('geef sleutel in');
  if(key != null){
    const response = await fetch(`http://localhost:5000/set-gpt-api-key?key=${key}`);
    result = await response.json()
    console.log('gekregen antwoord' + result.api_key)
  }
}

async function setGPTAPIKey(){
  var key = prompt('geef sleutel in');
  if(key != null){
    const response = await callPythonFunctionChangeKey(key);
    console.log('gekregen antwoord'+response.api_key)
  }
}

async function setHuggingFaceAPIKey(){
  var key = prompt('geef sleutel in');
  if(key != null){
    const response = await callPythonFunctionChangeKey(key);
    console.log('gekregen antwoord'+response.api_key)
  }
}

</script>

</html>