<!--https://www.userzoom.com/ux-blog/five-ways-to-make-usable-websites-for-people-with-dyslexia/-->


<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="..\static\css\style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title>Tekstvereenvoudiging: prototype</title>
</head>

<body>

  <div class="buttons">
    <!--<input type="button" value="Kleur wijzigen" onmousedown="changeBackgroundColor('red')">-->
    <input type="color" id="favcolor" name="favcolor" value="#ff0000" onmousedown="changeBackgroundColor(this.value)">
  </div>

  

  <h1>Prototype voor tekstvereenvoudiging</h1>

  <div class="container">
    <div class="container-index">
      <h2>Voor leerlingen</h2>
      <form action="/for-scholars" method="post" enctype="multipart/form-data">
        <label for="pdf">Voeg een PDF toe:</label>
        <input type="file" id="pdf" name="pdf"><br><br>
        <input type="submit" value="View PDF">
      </form>

      <form action="/for-teachers" method="post">
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </form>
    </div>

    <div class="container-index">
      <h2>Voor lectoren</h2>
      <form action="/for-teachers" method="post" enctype="multipart/form-data">
        <label for="pdf">Voeg een PDF toe:</label>
        <input type="file" id="pdf" name="pdf"><br><br>
        <input type="submit" value="View PDF">
      </form>

      <form action="/for-teachers" method="post">
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </form>

    </div>

    <div class="container-index">
      <h2>Instellingen</h2>
      <button onclick="setGPTAPIKey()">GPT API KEY</button>
    </div>

  </div>
</body>
<script>

//
const callPythonFunctionChangeColor = async (text) => {
  try {
    const response = await fetch(
      `http://localhost:5000/change-color?color=${text}`
    );

    console.log('change-', response)
    return (result = await response.json());
  } catch (error) {
    console.error(error);
  }
};

//
async function changeBackgroundColor(color) {
  const response = await callPythonFunctionChangeColor(color);
  document.body.style.backgroundColor = response.color;
}

//
const callPythonFunctionChangeKey = async (key) => {
  try{
    const response = await fetch(
      `http://localhost:5000/set-gpt-api-key?key=${key}`
    );
    console.log('change-', response);
    return (result = await response.json());
  } catch (error) {
    console.error(error);
  }
};


async function setGPTAPIKey(){
  var key = prompt('geef sleutel in');
  if(key != null){
    const response = await callPythonFunctionChangeKey(key);
    console.log('gekregen antwoord'+response.api_key)
  }
}

</script>

</html>