<!DOCTYPE html>
<html>

<head>
  <title>Click to Call Python Function</title>
  <meta charset="UTF-8">
  <style>
    span {
      cursor: pointer;
      border-bottom: 1px dashed blue;
    }
  </style>
</head>

<body>
  <input type="button" value="Get Selection" onmousedown="getSelectedText()">
  <div class="dazzle"></div>
  <input type="button" value="Get Summary" onmousedown="getSummary()">
</body>

<script>
  /*
  
  */
  const callPythonFunctionSummarize = async (text) => {
    try {
      const response = await fetch(`http://localhost:5000/generate-summary?fullText=${text}`);
      return result = await response.json();
    } catch (error) {
      console.error(error);
    }
  };

  /*
  Marking titles as a teacher
  */
  const checkbox = document.getElementById("checkboxTitle");
  checkbox.addEventListener("change", function () {
    if (checkbox.checked) {
      const ptag = document.querySelectorAll('p');
      ptag.forEach((p) => {
        p.addEventListener('click', async (event) => {
          if (checkboxTitle.checked) {
            var pTag = event.target;
            var h1Tag = document.createElement("h1");
            console.log(pTag, h1Tag)
            h1Tag.innerHTML = pTag.innerHTML;
            pTag.parentNode.replaceChild(h1Tag, pTag);
          };
        });
      });
    }
  });

  /*
  Clicking a word and asking for more information.
  */
  const spans = document.querySelectorAll('span');
  spans.forEach((span) => {
    span.addEventListener('click', async (event) => {
      const word = event.target.textContent;
      const response = await callPythonFunctionLookUp(word);
      console.log(response);
      var dazzle = document.querySelector(".dazzle");
      var p = document.createElement("p");
      var text = document.createTextNode(JSON.stringify(response.result));
      p.appendChild(text);
      dazzle.appendChild(p);
    });
  });

  /*
  Highlighting information
  */
  async function getSelectedText() {
    var selectedText = window.getSelection().toString();
    const response = await callPythonFunctionSummarize(selectedText);
    console.log(response);
    var dazzle = document.querySelector(".dazzle");
    var p = document.createElement("p");
    var text = document.createTextNode(JSON.stringify(response.result));
    p.appendChild(text);
    dazzle.appendChild(p);
  }


  async function getSummary() {
    var selectedText = 'test test test';
    const response = await callPythonFunctionSummarize(selectedText);
    console.log(response.json)
  };
</script>

</html>